<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="methods" thread-count="2">

<listeners>
    <listener class-name="com.srm.hackathon.adminpanel.listeners.TestListener"/>
</listeners>

  <test name="Form Tests">

    <classes>
      <class name="com.srm.hackathon.adminpanel.tests.FormTest"/>
    </classes>

  </test>

</suite>