<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Hackathon Suite" parallel="tests" thread-count="2">

    <!-- 🔥 LISTENER -->
    <listeners>
        <listener class-name="com.srm.hackathon.adminpanel.listeners.TestListener"/>
    </listeners>

    <!-- ================= FORM ================= -->
    <test name="Form Tests">
        <classes>
            <class name="com.srm.hackathon.adminpanel.tests.FormTest"/>
        </classes>
    </test>

    <!-- ================= ALERT ================= -->
    <test name="Alert Tests">
        <classes>
            <class name="com.srm.hackathon.adminpanel.tests.AlertTest"/>
        </classes>
    </test>

    <!-- ================= FRAME ================= -->
    <test name="Frame Tests">
        <classes>
            <class name="com.srm.hackathon.adminpanel.tests.FrameTest"/>
        </classes>
    </test>

    <!-- ================= DYNAMIC ================= -->
    <test name="Dynamic Tests">
        <classes>
            <class name="com.srm.hackathon.adminpanel.tests.DynamicTest"/>
        </classes>
    </test>

    <!-- ================= TABLE ================= -->
    <test name="Table Tests">
        <classes>
            <class name="com.srm.hackathon.adminpanel.tests.TableTest"/>
        </classes>
    </test>

</suite>